<div class="home-container">
  <button class="button-8" (click)="openAddEmployeeDialog()">Add Employee</button>
  
  <div class="table-container">
    <table class="employee-table">
      <tr>
        <th>EMPLOYEE NO</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th>AGE</th>
        <th>EXP (Yrs)</th>
        <th>ACTIONS</th>
      </tr>
      <tr *ngFor="let employee of displayedEmployees">
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.experience }}</td>
        <td>
          <button class="update-btn" (click)="openUpdateDialog(employee)">
            <i class="fa-solid fa-pen-to-square" title="Edit"></i>
          </button>
          <button class="delete-btn" (click)="confirmDelete(employee.employeeId)">
            <i class="fas fa-solid fa-trash" title="Delete"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="pagination-container">
    <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 1">
      <i class="fa-solid fa-arrow-left"></i> 
    </button>
    <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
       <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  
</div>



