.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #06191d;
  color: #FFFFF0;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'GeistSans-Semi';
  z-index: 999;
  border-bottom: 1px solid #CA0000;
  font-size: 18px;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
}
